@charset "utf-8";
** html img,
* html .png {
    position:relative;
    behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
        this.src ="/images/spacer.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
        this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
    );
}
html, body {
	height: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 100%;
}
body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-align: center;
}
.site {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	text-align: left;
	width: 965px;
}
.header {
	position: relative;
	width: 100%;
}
.logo {
	display: inline;
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.logo h1 {
	color: #8b6934;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}
.logo h2 {
	color: #8b6934;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 12px;
}
.headernavigation {
	bottom: 12px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	position: absolute;
	right: 0px;
}
.headernavigation h1 {
	color: #8b6934;
	font-size: 15px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	text-align: right;
}
.headernavigation ul {
	list-style: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.headernavigation ul .headernavigationlink {
	border-left: solid 1px #d9d9d9;
	color: #949494;
	display: inline;
	font-size: 11px;
	float: left;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.headernavigation ul .headernavigationlink:first-child {
	border-left: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.headernavigation ul .headernavigationlink a:visited {
	color: #949494;
	text-decoration: none;
}
.headernavigation ul .headernavigationlink a:link {
	color: #949494;
	text-decoration: none;
}
.headernavigation ul .headernavigationlink a:hover {
	color: #d9d9d9;
	text-decoration: underline;
}
.headernavigation ul .headernavigationlink a {
	color: #949494;
	text-decoration: none;
}
.main {
	background-color: #f9f9f9;
	border: solid 1px #d9d9d9;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 963px;
}
.maincontent {
	margin-top: 0px;
	margin-left: 14px;
	margin-right: 14px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.homehero {
	height: 386px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 12px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	position: relative;
	overflow: hidden;
}
.homehero .hero {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	positrion: absolute;
	z-index: 1;
}
.mainhero {
	background-color: #f9eed8;
	/*height: 415px;*/
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 0px;
	margin-bottom: 12px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	position: relative;
	/*overflow: hidden;*/
	width: 516px;
}
.mainhero .hero {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.pagesplit {
	background-image: url(../images/interface/bg_pagesplit.gif);
	background-position: center top;
	background-repeat: repeat-y;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 12px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.maincopy {
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.maincopy h1 {
	color: #c08827;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}
.maincopy h1 strong {
	color: #cc6633;
}
.maincopy h2 {
	color: #cc9933;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}
.maincopy p {
	color: #595959;
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}
.maincopy ul {
	list-style-image: url(../images/interface/i_maincopy_ul_li.png);
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
}
.maincopy ul li {
	color: #595959;
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}
.maincopy ul li ul {
	list-style-image: url(../images/interface/i_maincopy_ul_li_ul_li.png);
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.maincopy ol {
	margin-top: 0px;
	margin-left: 22px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
}
.maincopy ol li {
	color: #595959;
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}
.maincopy a:visited {
	color: #c08827;
	text-decoration: none;
}
.maincopy a:link {
	color: #c08827;
	text-decoration: none;
}
.maincopy a:hover {
	color: #c08827;
	text-decoration: underline;
}
.maincopy a {
	color: #c08827;
	text-decoration: none;
}
.maincopy li h1 {
	color: #595959;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}
.maincopy ul li h1 a:visited {
	color: #595959;
	text-decoration: none;
}
.maincopy ul li h1 a:link {
	color: #595959;
	text-decoration: none;
}
.maincopy ul li h1 a:hover {
	color: #c08827;
	text-decoration: underline;
}
.maincopy ul li h1 a {
	color: #595959;
	text-decoration: none;
}
.maincopybiglink {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.mainfeature {
	background-color: #f9eed8;
	display: inline;
	float: right;
	margin-top: 12px;
	margin-left: 30px;
	margin-right: 0px;
	margin-bottom: 24px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 516px;
}
.mainfeaturecopy {
	display: inline;
	float: left;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	padding-top: 18px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 8px;
	width: 210px;
}
.mainfeaturecopy h1 {
	color: #c08827;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.mainfeaturecopy p {
	color: #595959;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.mainfeatureimage {
	display: inline;
	float: right;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 30px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.sitefeatures {
	background-image: url(../images/interface/bg_hero_tint.png);
	background-position: left top;
	background-repeat: repeat;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 12px;
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	width: 100%;
	z-index: 1;
}



.sitefeatures ul {
	list-style: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 11px;
	padding-bottom: 0px;
}
.sitefeatures ul .sitefeaturelink {
	border-right: solid 1px #959697;
	display: inline;
	float: right;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	width: 160px;
}
.sitefeatures ul .sitefeaturelink:first-child {
	border: none;
	width: 270px;
}
.sitefeatures ul li h1 {
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
}
.sitefeatures ul li h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.sitefeatures ul li h2 a {
	display: block;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 5px;
}
.sitefeatures ul li p {
	color: #ffffff;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}
.sitefeaturecolor01 h1 {
	color: #b1c028;
	font-family: Tahoma, Geneva, sans-serif;
}
.sitefeaturecolor01 h1 a:visited {
	color: #b1c028;
	text-decoration: none;
}
.sitefeaturecolor01 h1 a:link {
	color: #b1c028;
	text-decoration: none;
}
.sitefeaturecolor01 h1 a:hover {
	color: #b1c028;	
	text-decoration: underline;
}
.sitefeaturecolor01 h1 a {
	color: #b1c028;
	text-decoration: none;
}
.sitefeaturecolor01 h2 {
	color: #b1c028;
	font-family: Tahoma, Geneva, sans-serif;
}
.sitefeaturecolor01 h2 a:visited {
	background-color: #b1c028;
	color: #ffffff;
	text-decoration: none;
}
.sitefeaturecolor01 h2 a:link {
	background-color: #b1c028;
	color: #ffffff;
	text-decoration: none;
}
.sitefeaturecolor01 h2 a:hover {
	background-color: #b1c028;
	color: #ffffff;
	text-decoration: underline;
}
.sitefeaturecolor01 h2 a {
	background-color: #b1c028;
	color: #ffffff;
	text-decoration: none;
}
.sitefeaturecolor02 h1 {
	color: #c0a828;
	font-family: Tahoma, Geneva, sans-serif;
}
.sitefeaturecolor02 h1 a:visited {
	color: #c0a828;
	text-decoration: none;
}
.sitefeaturecolor02 h1 a:link {
	color: #c0a828;
	text-decoration: none;
}
.sitefeaturecolor02 h1 a:hover {
	color: #c0a828;	
	text-decoration: underline;
}
.sitefeaturecolor02 h1 a {
	color: #c0a828;
	text-decoration: none;
}
.sitefeaturecolor02 h2 {
	color: #c0a828;
	font-family: Tahoma, Geneva, sans-serif;
}
.sitefeaturecolor02 h2 a:visited {
	background-color: #c0a828;
	color: #ffffff;
	text-decoration: none;
}
.sitefeaturecolor02 h2 a:link {
	background-color: #c0a828;
	color: #ffffff;
	text-decoration: none;
}
.sitefeaturecolor02 h2 a:hover {
	background-color: #c0a828;
	color: #ffffff;
	text-decoration: underline;
}
.sitefeaturecolor02 h2 a {
	background-color: #c0a828;
	color: #ffffff;
	text-decoration: none;
}
.sitefeaturecolor03 h1 {
	color: #bf6f28;
	font-family: Tahoma, Geneva, sans-serif;
}
.sitefeaturecolor03 h1 a:visited {
	color: #bf6f28;
	text-decoration: none;
}
.sitefeaturecolor03 h1 a:link {
	color: #bf6f28;
	text-decoration: none;
}
.sitefeaturecolor03 h1 a:hover {
	color: #bf6f28;	
	text-decoration: underline;
}
.sitefeaturecolor03 h1 a {
	color: #bf6f28;
	text-decoration: none;
}
.sitefeaturecolor03 h2 {
	color: #bf6f28;
	font-family: Tahoma, Geneva, sans-serif;
}
.sitefeaturecolor03 h2 a:visited {
	background-color: #bf6f28;
	color: #ffffff;
	text-decoration: none;
}
.sitefeaturecolor03 h2 a:link {
	background-color: #bf6f28;
	color: #ffffff;
	text-decoration: none;
}
.sitefeaturecolor03 h2 a:hover {
	background-color: #bf6f28;
	color: #ffffff;
	text-decoration: underline;
}
.sitefeaturecolor03 h2 a {
	background-color: #bf6f28;
	color: #ffffff;
	text-decoration: none;
}
.sitefeaturecolor04 h1 {
	color: #c08827;
	font-family: Tahoma, Geneva, sans-serif;
}
.sitefeaturecolor04 h1 a:visited {
	color: #c08827;
	text-decoration: none;
}
.sitefeaturecolor04 h1 a:link {
	color: #c08827;
	text-decoration: none;
}
.sitefeaturecolor04 h1 a:hover {
	color: #c08827;	
	text-decoration: underline;
}
.sitefeaturecolor04 h1 a {
	color: #c08827;
	text-decoration: none;
}
.sitefeaturecolor04 h2 {
	color: #c08827;
	font-family: Tahoma, Geneva, sans-serif;
}
.sitefeaturecolor04 h2 a:visited {
	background-color: #c08827;
	color: #ffffff;
	text-decoration: none;
}
.sitefeaturecolor04 h2 a:link {
	background-color: #c08827;
	color: #ffffff;
	text-decoration: none;
}
.sitefeaturecolor04 h2 a:hover {
	background-color: #c08827;
	color: #ffffff;
	text-decoration: underline;
}
.sitefeaturecolor04 h2 a {
	background-color: #c08827;
	color: #ffffff;
	text-decoration: none;
}
.homehero .sitefeatures {
	bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	position: absolute;
	z-index: 10;
}
.homefeatures {
	margin-top: 0px;
	margin-left: 14px;
	margin-right: 0px;
	margin-bottom: 12px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.homefeaturepad {
	width: 9px;
}
.homefeature {
	background-color: #ffffff;
	border: solid 1px #d9d9d9;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 12px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 6px;
	vertical-align: top;
	width: 225px;
}
.hometwitter {
	background-color: #ffffff;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	width: 225px;
}
.homefeaturecontent {
	margin-top: 0px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.homefeaturecontent h1 {
	color: #c08827;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
}
.homefeaturecontent h1 a:visited {
	color: #c08827;
	text-decoration: none;
}
.homefeaturecontent h1 a:link {
	color: #c08827;
	text-decoration: none;
}
.homefeaturecontent h1 a:hover {
	color: #c08827;
	text-decoration: underline;
}
.homefeaturecontent h1 a {
	color: #c08827;
	text-decoration: none;
}
.homefeaturecontent p {
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 6px;
}
.homefeaturecontent p a:visited {
	color: #c08827;
	text-decoration: none;
}
.homefeaturecontent p a:link {
	color: #c08827;
	text-decoration: none;
}
.homefeaturecontent p a:hover {
	color: #c08827;
	text-decoration: underline;
}
.homefeaturecontent p a {
	color: #c08827;
	text-decoration: none;
}
.homefeaturenavigation {
	border-top: solid 1px #d9d9d9;
	margin-top: 6px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 0px;
	padding-top: 12px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.homefeaturenavigation h1 {
	color: #c08827;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
}
.homefeaturenavigation h1 a:visited {
	color: #c08827;
	text-decoration: none;
}
.homefeaturenavigation h1 a:link {
	color: #c08827;
	text-decoration: none;
}
.homefeaturenavigation h1 a:hover {
	color: #c08827;
	text-decoration: underline;
}
.homefeaturenavigation h1 a {
	color: #c08827;
	text-decoration: none;
}
.homefeaturenavigation ul {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.homefeaturenavigation ul .homefeaturenavigationlink {
	color: #c08827;
	font-size: 11px;
	line-height: 1.2em;
	list-style-position: inside;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	padding-top: 2px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
}
.homefeaturenavigation ul .homefeaturenavigationlink a:visited {
	color: #000000;
	text-decoration: none;
}
.homefeaturenavigation ul .homefeaturenavigationlink a:link {
	color: #000000;
	text-decoration: none;
}
.homefeaturenavigation ul .homefeaturenavigationlink a:hover {
	color: #000000;
	text-decoration: underline;
}
.homefeaturenavigation ul .homefeaturenavigationlink a {
	color: #000000;
	text-decoration: none;
}
.homefeaturenavigation ul .homefeaturenavigationlinkborder {
	border-top: solid 1px #d9d9d9;
	padding-top: 4px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
}
.homefeaturenavigation ul .homefeaturenavigationlinkborder:first-child {
	border-top: none;
	margin-top: -8px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
}
.homefeature .form {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-align: right;
}
.homefeature .formlabelshort {
	color: #595959;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	text-align: left;
	width: 48%;
}
.homefeature .formlabellong {
	color: #595959;
	display: block;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	text-align: left;
	width: 100%;
}
.homefeature .formtextfieldshort {
	border: solid 1px #abacac;
	color: #595959;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	padding-top: 2px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	text-align: left;
	width: 48%;
}
.homefeature .formtextfieldlong {
	border: solid 1px #abacac;
	color: #595959;
	display: block;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	padding-top: 2px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	text-align: left;
	width: 100%;
}
.homefeature .formsubmit {
	border: solid 2px #d9d9d9;
	color: #c08827;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 0px;
	margin-bottom: 9px;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}
.pageform {
	background-color: #565a5f;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 12px;
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}
.pageform .formheader {
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 61%;
}
.pageform .formheader h1 {
	color: #c08827;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}
.pageform .formheader h2 {
	color: #cc6633;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}
.pageform .formheader p {
	color: #ffffff;
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}
.pageform .formheader ul {
	list-style-image: url(../images/interface/i_maincopy_ul_li.png);
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
}
.pageform .formheader ul li {
	color: #ffffff;
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}
.pageform .formheader ol {
	margin-top: 0px;
	margin-left: 22px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
}
.pageform .formheader ol li {
	color: #595959;
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}
.pageform .formheader a:visited {
	color: #c08827;
	text-decoration: none;
}
.pageform .formheader a:link {
	color: #c08827;
	text-decoration: none;
}
.pageform .formheader a:hover {
	color: #c08827;
	text-decoration: underline;
}
.pageform .formheader a {
	color: #c08827;
	text-decoration: none;
}
.pageform .formrow {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.pageform .formlabel {
	color: #ffffff;
	display: inline;
	float: left;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 30%;
}
.pageform .formcheckboxlabel {
	color: #ffffff;
	display: inline;
	float: left;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 61%;
}
.pageform .formelement {
	color: #ffffff;
	display: inline;
	float: left;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.pageform .formtextfieldlong {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 300px;
}
.pageform .formtextarealong {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 300px;
}
.pageform .formselectlong {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 305px;
}
.pageform .checkboxblock {
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;	
}
.pageform .checkboxblock th {
	color: #cc6633;
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	text-align: left;
}
.pageform .checkboxblock td {
	color: #ffffff;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 15px;
	padding-bottom: 5px;
	text-align: left;
}
.pagelistintro {
	background-color: #f9eed8;
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 303px;
}
.pagelistintrocopy {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-top: 12px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;	
}
.pagelistintrocopy h1 {
	color: #c08827;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}
.pagelistintrocopy h2 {
	color: #cc9933;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}
.pagelistintrocopy p {
	color: #595959;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}
.pagelistintrocopy ul {
	list-style-image: url(../images/interface/i_maincopy_ul_li.png);
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
}
.pagelistintrocopy li {
	color: #595959;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}
.pagelistintrocopy a:visited {
	color: #c08827;
	text-decoration: none;
}
.pagelistintrocopy a:link {
	color: #c08827;
	text-decoration: none;
}
.pagelistintrocopy a:hover {
	color: #c08827;
	text-decoration: underline;
}
.pagelistintrocopy a {
	color: #c08827;
	text-decoration: none;
}
.pagelistintrocopy li h1 {
	color: #595959;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}
.pagelistintrocopy ul li h1 a:visited {
	color: #595959;
	text-decoration: none;
}
.pagelistintrocopy ul li h1 a:link {
	color: #595959;
	text-decoration: none;
}
.pagelistintrocopy ul li h1 a:hover {
	color: #c08827;
	text-decoration: underline;
}
.pagelistintrocopy ul li h1 a {
	color: #595959;
	text-decoration: none;
}
.pagelist {
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.pagelist h1 {
	color: #cc6633;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 8px;
}
.pagelist h1 a:visited {
	color: #cc6633;
	text-decoration: none;
}
.pagelist h1 a:link {
	color: #cc6633;
	text-decoration: none;
}
.pagelist h1 a:hover {
	color: #cc6633;
	text-decoration: none;
}
.pagelist h1 a {
	color: #cc6633;
	text-decoration: none;
}
.pagelistrow {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.pagelistrow th {
	background-color: #cc9900;
	color: #ffffff;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.2em;
	margin-top: 2px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	width: 188px;
}
.pagelistrow th a:visited {
	color: #ffffff;
	text-decoration: none;
}
.pagelistrow th a:link {
	color: #ffffff;
	text-decoration: none;
}
.pagelistrow th a:hover {
	color: #ffffff;
	text-decoration: none;
}
.pagelistrow th a {
	color: #ffffff;
	display: block;
	padding-top: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 0px;
	text-decoration: none;
}
.pagelistrow .pagelistspacer {
	width: 12px;
}
.pagelistrow td {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	vertical-align: top;
}
.pagelistrow td img {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 4px;
}
.pagelistrow td p {
	color: #595959;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
}
.pagelistrow td ul {
	list-style-image: url(../images/interface/i_maincopy_ul_li.png);
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.pagelistrow td ul li {
	color: #595959;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
}
.pagelistrow td ul li ul {
	list-style-image: url(../images/interface/i_maincopy_ul_li_ul_li.png);
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.pagelistrow td ol {
	margin-top: 0px;
	margin-left: 22px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
}
.pagelistrow td ol li {
	color: #595959;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
}
.accordianlist {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 12px;
}
.accordianlistitem {
	border-top: solid 1px #d9d9d9;
}
.accordianheader {
	cursor: pointer;
}
.accordianlink {
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	position: relative;
}
.accordianlink h1 {
	color: #c08827;
	display: inline;
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 85%;
}
.accordianlink h1 a:visited {
	color: #c08827;
}
.accordianlink h1 a:link {
	color: #c08827;
}
.accordianlink h1 a:hover {
	color: #c08827;
}
.accordianlink h1 a {
	color: #c08827;
	text-decoration: none;
}
.accordianlink h2 {
	color: #595959;
	display: inline;
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 85%;
}
.accordianlink h2 a:visited {
	color: #595959;
}
.accordianlink h2 a:link {
	color: #595959;
}
.accordianlink h2 a:hover {
	color: #595959;
}
.accordianlink h2 a {
	color: #595959;
	text-decoration: none;
}
.accordianlink h3 {
	color: #595959;
	display: inline;
	float: right;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.accordianlink h3 a:visited {
	color: #595959;
}
.accordianlink h3 a:link {
	color: #595959;
}
.accordianlink h3 a:hover {
	color: #595959;
}
.accordianlink h3 a {
	color: #595959;
	text-decoration: none;
}
.accordianlink h4 {
	color: #595959;
	display: inline;
	font-family: Tahoma, Geneva, sans-serif;
	float: right;
	font-size: 11px;
	font-weight: normal;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.accordianlink h4 a:visited {
	color: #595959;
}
.accordianlink h4 a:link {
	color: #595959;
}
.accordianlink h4 a:hover {
	color: #595959;
}
.accordianlink h4 a {
	color: #595959;
	text-decoration: none;
}
.accordiancontent {
	margin-top: 0px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.accordiancontentrevealed {
	margin-top: 0px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.accordianimage {
	display: block;
	float: right;
	margin-top: 0px;
	margin-left: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 12px;
}
.accordianicon {
	display: none;
}
.pagination {
	width: 100%;
}
.pagination ul {
	list-style: none;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.pagination ul .previouslink {
	border-top: solid 1px #d9d9d9;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	color: #ffffff;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.pagination ul .paginationlink {
	border-top: solid 1px #d9d9d9;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	color: #ffffff;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.pagination ul .nextlink {
	border-top: solid 1px #d9d9d9;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	color: #ffffff;
	display: block;
	float: right;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.pagination a:visited {
	color: #ffffff;
	text-decoration: none;
}
.pagination a:link {
	color: #ffffff;
	text-decoration: none;
}
.pagination a:hover {
	background-color: #333333;
	color: #ffffff;
	text-decoration: underline;
}
.pagination a {
	background-color: #595959;
	color: #ffffff;
	display: block;
	text-decoration: none;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
.mainsublistcolumn {
	display: inline;
	float: left;
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 1px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 298px;
}
.mainsublistcolumn h1 {
	color: #996600;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.mainsublistcolumn h1 strong {
	color: #cc6633;
}
.mainsublistcolumn h2 {
	color: #cc9933;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.mainsublistcolumn p {
	color: #595959;
	font-size: 14px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}
.mainsublistcolumn ul {
	list-style-image: url(../images/interface/i_maincopy_ul_li.png);
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
}
.mainsublistcolumn li {
	color: #595959;
	font-size: 14px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.mainsublistcolumn a:vistied {
	color: #595959;
}
.mainsublistcolumn a:link {
	color: #595959;
}
.mainsublistcolumn a:hover {
	color: #c08827;
	text-decoration: underline;
}
.mainsublistcolumn a {
	color: #595959;
	text-decoration: none;
}
.footer {
	background-color: #faf1df;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	width: 100%;
}
.footercontent {
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.footercontent h1 {
	color: #c08827;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 1.2px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}
.footernavigation {
	margin-top: 0px;
	margin-left: 25px;
	margin-right: 30px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.footernavigation ul {
	display: inline;
	float: left;
	list-style: none;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.footernavigation ul .footernavigationlink {
	border-left: solid 1px #878787;
	color: #878787;
	display: inline;
	font-size: 11px;
	float: left;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.footernavigation ul .footernavigationlink:first-child {
	border-left: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.footernavigation ul .footernavigationlink a:visited {
	color: #878787;
	text-decoration: none;
}
.footernavigation ul .footernavigationlink a:link {
	color: #878787;
	text-decoration: none;
}
.footernavigation ul .footernavigationlink a:hover {
	color: #878787;
	text-decoration: underline;
}
.footernavigation ul .footernavigationlink a {
	color: #878787;
	text-decoration: none;
}
.footericons {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.pagelistrow .pagelistspacer {
	height: 12px;
	width: 12px;
}

.footericons ul {
	list-style: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.footericons ul .footericonslink {
	display: inline;
	float: left;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.required {
	color: #cc6633;
	font-weight: bold;
}
.columnleft {
	display: inline;
	float: left;
	width: 407px;
}
.columnright {
	display: inline;
	float: right;
	width: 407px;
}
.floatleft {
	display: inline;
	float: left;
}
.floatright {
	display: inline;
	float: right;
}
.clear {
	clear: both;
	font-size: 0px;
	line-height: 0px;
}

#adminnav a, #adminnav a:link, #adminnav a:visited, #adminnav a:active {
color:#c08827;
text-decoration:none;
}

#adminnav a:hover {
color:#c08827;
text-decoration:underline;
}


.dest_form strong {
	color: #cc6633;
	font-size: 12px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	text-align: left;
}
.dest_form2 p {
	color: #ffffff;
	font-size: 11px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	text-align: left;
}