* {
  margin: 0px;
}
body {
  height: 100%;
  width: 100%;
}
#gallery {
  width: 100%;
  height: 100%;
  position: relative;
}
.box {
  background-color: #ff0000;
  float: left;
  position: relative;
}
.clear {
  clear: both;
  position: relative;
}
