@charset "utf-8";
/* CSS Document */

body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.site {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-align: center;
	width: 770px;
}
.header {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.headerlogo {
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.headertag {
	float: right;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 40px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.headertag h1 {
	color: #8B6934;
	font-size: 15px;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	text-align: right;
}
.maincontent {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.content {
	border-top: solid 1px #8B6934;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	width: 770px;
}
.contentrow {
	border-bottom: solid 1px #8B6934;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 770px;
}
.contentimage {
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.contentheader {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.contentheader h1 {
	color: #C93;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	float: left;
	line-height: 1.2em;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.contentheader h1 a:visited {
	color: #C08827;
	text-decoration: none;
}
.contentheader h1 a:link {
	color: #C08827;
	text-decoration: none;
}
.contentheader h1 a:hover {
	color: #C08827;
	text-decoration: none;
}
.contentheader h1 a {
	color: #C08827;
	text-decoration: none;
}
.herocontent {
	border: solid 1px #D9D9D9;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.tablecontainer {
	border-top: solid 1px #8B6934;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.tableitem1 {
	border-bottom: solid 1px #ffffff;
	background-color: #e7e7e7;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	width: 270px;
}
.tableitem2 {
	border-bottom: solid 1px #ffffff;
	background-color: #D9D9D9;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	width: 500px;
}
.clear {
	font-size: 0px;
	line-height: 0em;
	clear: both;
}